*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

@font-face {
   font-family: font;
   src: url("CarrolwildClean-9YpKK.otf") format("opentype");
}

@font-face {
   font-family: font2;
   src: url(AboveDemoRegular-lJMd.ttf);
}


.banner {
    background-color: red;
    height: 40%;
    width:100%;
    float:left;
    
    background-image: linear-gradient( rgba(0,0,0,.05),rgba(0,0,0,.75)), url(comet.webp);
    background-size: cover;
    background-position: left;
}

.banner .beginning h1 {
    text-align:center;
    font-family:font;
    color:gold;
    
    font-size: 50px;
}

.banner .beginning h2 {
    text-align: center;
    font-family:font;
    color:gold;
        
    font-size:30px;
}

.banner .beginning {
    
    position: relative;
    bottom:-20px
}


.table1 {
    width:50%;
    height: 60vh;
    align-items: center;
    position: relative;
    
    float:left;
}

th {
    font-size:50px;
    background-color:white;
}
td {
    text-align: center;
    font-size:30px;
}

.table1, th, td {
    border:2px solid black;
    
    
    font-family: font;
}

tr:nth-child(even) {
}

tr:nth-child(odd) {
  background-color: gold;
}



.navbar{
    width: 100%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    justify-content: flex-end;
}



.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: font2;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: gold;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition-duration: .5s;
}

.navbar ul li:hover::after{
    width:100%;
    background: blue;
    
}

.table {
    float:left;
    width:100%;
}

.java {
    float:right;
    width:50%;
}

.java h1 {
    text-align: center;
    font-size: 50px;
    font-family: font;
}

.java p {
    font-family: font;
    line-height: 1.25;
}

.math {
    float:right;
    width:50%;
}

.math h1 {
    text-align: center;
    font-size: 50px;
    font-family: font;
}

.math p {
    font-family: font;
    line-height: 1.25;
}

.python {
    float:right;
    width:50%;
}

.python h1 {
    text-align: center;
    font-size: 50px;
    font-family: font;
}

.python p {
    font-family: font;
    line-height: 1.25;
}


.medical {
    float:right;
    width:50%;
}

.medical h1 {
    text-align: center;
    font-size: 50px;
    font-family: font;
}

.medical p {
    font-family: font;
    line-height: 1.25;
}

.law {
    float:right;
    width:50%;
}

.law h1 {
    text-align: center;
    font-size: 50px;
    font-family: font;
}

.law p {
    font-family: font;
    line-height: 1.25;
}

.emglish {
    float:right;
    width:50%;
}

.english h1 {
    text-align: center;
    font-size: 50px;
    font-family: font;
}

.english p {
    font-family: font;
    line-height: 1.25;
}

.filler {
    float:right;
    width:50%;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid gold;
    background: transparent;
    color:black;
    cursor:pointer;
    
    position: relative;
    right:-32.5%;
    overflow: hidden;
}

span{
    background: gold;
    height:100%;
    width:0;
    border-radius:25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition-duration:0.5s;
}

button:hover span{
    width:100%;
}
button:hover{
    border:none;
}

button a {
    text-decoration: none;
    color:black;
}
