<html>
    <head>
        <title>About Us | Hackadmeics</title>
        <link rel="stylesheet" href="../static/aboutusstyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class ="banner">
            <div class="navbar">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About</a></li>
                        <li><a href="programs.html">Programs</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="https://hhs.hackensackschools.org/All%20HHS%20Departments/National%20Honor%20Society/National%20Honor%20Society%20Index.html">Hackensack NHS</a></li>
                    </ul>
            </div>
            
            
            <div class ="content">
                <h1>About Us</h1>
                
                <p>Hackadmeics is a free video based program for Hackenasck Middle School students and the overall Hackensack distract. Our teachers are members of the Hackensack National Honor Society, who have been guided by our advisors listed below. If you are interested in signing up for our programs, <a href="login.html">first login</a>, then select one of our programs and sign up, and you'll have instant access to all the curriculum!</p>
                
                <p>
                <br>Advisors: David Bernardo, Joseph Brunacki<br> Executive Team: Angelo Phillipe Valencia (President) , Daniel Leon (Vice President) , Tomasz Sadowy (Secretary) , Melissa Tigre (Historian/Social Manager) , Shadman Miah (Treasurer)
                </p>
                
                <button onclick="location.href='login.html'" type="button"><span></span>LOGIN</button>
                <button onclick="location.href='#'" type="button"><span></span>SIGN UP</button>


            </div>
            
            
        </div>
        
        
    </body>
</html>
