<!DOCTYPE html>
<html>
    <head>
        <title>Hackademics</title>
        <link rel="stylesheet" href="../static/dashstyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/programs">Programs</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="https://hhs.hackensackschools.org/All%20HHS%20Departments/National%20Honor%20Society/National%20Honor%20Society%20Index.html">Hackensack NHS</a></li>
                    </ul>
            </div>
            <div class="contenthead">
                <h1>Hackademics</h1>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				{% for msg in messages %}
				<p> {{msg}} </p>
				{% endfor %}
				{% endif %}	
				{% endwith %}

            </div>
        </div>
        
        <div class="content">
            <h1>Welcome, {{email}}!</h1>
            <p>Courses and Classrooms</p>

            <div class = "classes">
                <div class = "java">
                    <img class = "javaicon" src="../static/javaicon.png" alt="java" width="50" height="50">
                    <h1>Java</h1>
                    <button onclick="location.href='login.html'" type="button"><span></span>Go to Classroom</button>
                </div>

                <div class = "crim">
                    <img class = "crimicon" src="../static/crimicon.png" alt="crim" width="50" height="50">
                    <h1>criminal justice/law</h1>
                    <button onclick="location.href='login.html'" type="button"><span></span>Go to Classroom</button>
                </div>

                <div class = "math">
                    <img class = "mathicon" src="../static/mathicon.png" alt="math" width="50" height="50">
                    <h1>Math</h1>
                    <button onclick="location.href='login.html'" type="button"><span></span>Go to Classroom</button>
                </div>

                <div class = "eng">
                    <img class = "engicon" src="../static/engicon.png" alt="english" width="50" height="50">
                    <h1>english</h1>
                    <button onclick="location.href='login.html'" type="button"><span></span>Go to Classroom</button>
                </div>               
                
                
                <div class = "python">
                    <img class = "pythonicon" src="../static/pythonicon.png" alt="python" width="50" height="50">
                    <h1>python</h1>
                    <button onclick="location.href='login.html'" type="button"><span></span>Go to Classroom</button>
                </div>

                <div class = "med">
                    <img class = "medicon" src="../static/medicon.png" alt="medical" width="50" height="50">
                    <h1>medical enrichment</h1>
                    <button onclick="location.href='login.html'" type="button"><span></span>Go to Classroom</button>
                </div>

            </div>
        </div>
    </body>
</html>
