<html>
	<head>
		<title> YES </title>
	</head>

	<body>
		<h1> Here are your courses {{email}} </h1>
		<br>
		<table>
			<thead>
				<tr>
					<th> |Course_ID| </th>
					<th> |Course_Name| </th>
					<th> |Current_Lesson| </th>
				</tr>
			</thead>

			<tbody>
				{% for course in courses %}
				<tr>
					<td> {{course[0]}} </td>
					<td> {{course[1]}} </td>
					<td> {{course[2]}} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table> 
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p> {{msg}} </p>
			{% endfor %}
		{% endif %}	
		{% endwith %}


		
	</body>
</html>

