<html>
    <head>
        <title>Hackademics</title>
        <link rel="stylesheet" href="/static/hackademicsstyle..css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="blank">
            <h1>ademics</h1>
            <div class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="aboutus.html">About</a></li>
                    <li><a href="programs.html">Programs</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="https://hhs.hackensackschools.org/All%20HHS%20Departments/National%20Honor%20Society/National%20Honor%20Society%20Index.html">Hackensack NHS</a></li>
                </ul>
            </div>
            
            <div class="content">
                <p>
                    Achieve your own potential
                    </p>
                <p1>
                    Free virtual live/video-based classes
                </p1>
                
                <div>
                    <button onclick="location.href='login.html'" type="button"><span></span>LOGIN</button>
                    <button onclick="location.href='#'" type="button"><span></span>SIGN UP</button>
                    <button onclick="location.href='programs.html'" type="button"><span></span>PROGRAMS</button>

                </div>
                
                
                <img class = "nhslogo" src="/static/nhslogo.png" alt="NHS" width="100" height="100">
                
                <p2>Hackensack High School <br>National Honor Society</p2>
            </div>
            
        </div>
        
        <div class="comet">
            <h1>Hack</h1>
        </div>
    
    </body>
</html>
