<html>
    <head>
        <title>Hackademics Programs</title>
        <link rel="stylesheet" href="programsstyle.css">
    </head>
    
    <body>
        
        <div class ="banner">
            <div class="navbar">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="programs.html">Programs</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="https://hhs.hackensackschools.org/All%20HHS%20Departments/National%20Honor%20Society/National%20Honor%20Society%20Index.html">Hackensack NHS</a></li>
                    </ul>
            </div>

            <div class="beginning">
                <h1>Our Programs</h1>
                <h2><br>Check out our listed programs!</h2>
            </div>
        </div>
        
        
        <table class="table1">
            <thead>
                <tr>
                    <th>STEM</th>
                    <th>Humanities</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Java</td>
                    <td> Placeholder </td>
                </tr>
                <tr>
                    <td>Math</td>
                    <td> Placeholder </td>
                </tr>
            </tbody>
        
        </table>
        
        
    </body>


</html>