<html>
    <head>
        <title>Hackademics Programs</title>
        <link rel="stylesheet" href="../static/programsstyle.css" type="text/css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <div class ="banner">
            <div class="navbar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/programs">Programs</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="https://hhs.hackensackschools.org/All%20HHS%20Departments/National%20Honor%20Society/National%20Honor%20Society%20Index.html">Hackensack NHS</a></li>
                    </ul>
            </div>

            <div class="beginning">
                <h1>Our Programs</h1>
                <h2>Check out our listed programs!</h2>
            </div>
            
        </div>
        
        <table class="table1">
            <thead>
                <tr>
                    <th>STEM</th>
                    <th>Humanities</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><button onclick = "display(0)"> JAVA </button></td>
                    <td><button onclick = "display(1)"> CRIMINAL JUSTICE/LAW</button> </td>
                </tr>
                <tr>
                    <td> <button onclick = "display(2)"> MATH </button> </td>
                    <td> <button onclick = "display(3)"> ENGLISH </button>  </td>
                </tr>

                <tr>
                    <td> <button onclick = "display(4)"> </button> Python</td>
                    <td> </td>
                </tr>

                <tr>
                    <td> <button onclick = "display(5)"> MEDICAL ENRICHMENT </button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
        
    
        <!-- ALL  -->
        <div>
            <h1 id = "addHeader"></h1>
            <p id = "progLead"> </p>
            <p id = "classLead"></p>
        
        
            <p id = "description"> </p>
        </div>

        <div>
            <button onclick="location.href='#'" type="button"><span></span>PROGRAM SIGN UP</button>
            <div class="filler">
                <img class = "nhslogo" src="../static/nhslogo.png" alt="NHS" width="100" height="100">
            </div>
        </div>
        


        <script>
            function display(program)
            {
                let current = document.getElementById("addHeader").textContent

//JAVA
                if (program === 0)
                {
                    //If java is displayed and you click on it again, hide info
                    if(current === "JAVA") 
                    {
                        document.getElementById("addHeader").textContent = ""
                        document.getElementById("progLead").textContent = ""
                        document.getElementById("classLead").textContent = ""
                        document.getElementById("description").textContent = ""
                    }
                    else
                    {
                        document.getElementById("addHeader").textContent = "JAVA"
                        document.getElementById("progLead").textContent = "Program Lead: Java Lead"
                        document.getElementById("classLead").textContent = "Class Lead: Java Class lead"
                        document.getElementById("description").textContent = "Description:Java is lead by Sir Angelo Phillipe Balenciaga"
                    }
                }


//CRIMINAL JUSTICE/LAW
                else if(program === 1)
                {
                    if(current === "LAW") 
                    {
                        document.getElementById("addHeader").textContent = ""
                        document.getElementById("progLead").textContent = ""
                        document.getElementById("classLead").textContent = ""
                        document.getElementById("description").textContent = ""
                    }
                    else
                    {
                    document.getElementById("addHeader").textContent = "LAW"
                    document.getElementById("progLead").textContent = "Program Lead: Law Lead"
                    document.getElementById("classLead").textContent = "Class Lead: Law Class Lead"
                    document.getElementById("description").textContent = "Description: Law is lead by idk"
                    }
                }


//MATH
                else if(program === 2)
                {
                    if(current === "MATH") 
                    {
                        document.getElementById("addHeader").textContent = ""
                        document.getElementById("progLead").textContent = ""
                        document.getElementById("classLead").textContent = ""
                        document.getElementById("description").textContent = ""
                    }
                    else
                    {
                    document.getElementById("addHeader").textContent = "MATH"
                    document.getElementById("progLead").textContent = "Program Lead: Math Lead"
                    document.getElementById("classLead").textContent = "Class Lead: Math Class Lead"
                    document.getElementById("description").textContent = "Description: Math is lead by Tomasz [Middle Name] Sadowy"
                    }
                }


//ENGLISH
                else if(program === 3)
                {
                    if(current === "ENGLISH") 
                    {
                        document.getElementById("addHeader").textContent = ""
                        document.getElementById("progLead").textContent = ""
                        document.getElementById("classLead").textContent = ""
                        document.getElementById("description").textContent = ""
                    }
                    else
                    {
                    document.getElementById("addHeader").textContent = "ENGLISH"
                    document.getElementById("progLead").textContent = "Program Lead: English Lead"
                    document.getElementById("classLead").textContent = "Class Lead: English Class Lead"
                    document.getElementById("description").textContent = "Description: English is led by idk"
                    }
                }



                else if(program === 4)
                {
                    if(current === "PYTHON") 
                    {
                        document.getElementById("addHeader").textContent = ""
                        document.getElementById("progLead").textContent = ""
                        document.getElementById("classLead").textContent = ""
                        document.getElementById("description").textContent = ""
                    }
                    else
                    {
                    document.getElementById("addHeader").textContent = "PYTHON"
                    document.getElementById("progLead").textContent = "Program Lead: Python Lead"
                    document.getElementById("classLead").textContent = "Class Lead: Python Class Lead"
                    document.getElementById("description").textContent = "Description: Python is led by David Elian Valarezo"
                    }
                }

//MEDICAL
                else if(program === 5)
                {
                    if(current === "MEDICAL") 
                    {
                        document.getElementById("addHeader").textContent = ""
                        document.getElementById("progLead").textContent = ""
                        document.getElementById("classLead").textContent = ""
                        document.getElementById("description").textContent = ""
                    }
                    else
                    {
                    document.getElementById("addHeader").textContent = "MEDICAL"
                    document.getElementById("progLead").textContent = "Program Lead: Medical Lead"
                    document.getElementById("classLead").textContent = "Class Lead: Medical Class Lead"
                    document.getElementById("description").textContent = "Description: Medical is led by idk"
                    }
                }










        } //end of display function

        </script>
        
    </body>


</html>

